@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(https://fonts.googleapis.com/css?family=Orbitron:400);
* {
  box-sizing: border-box;
  font-family: sans-serif; }

h1 {
  color: white;
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  position: relative; }

.outer {
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: linear-gradient(to bottom, #3d271c 0%, #241c11 100%);
  padding: 15px;
  position: relative;
  box-shadow: 1px 3px 3px 1px #111; }

.inner {
  position: absolute;
  left: 125px;
  top: 125px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: linear-gradient(to bottom, #3d271c 0%, #241c11 100%); }

.inner-clip {
  position: relative;
  overflow: hidden;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  font-size: 1em;
  text-align: center;
  margin: 15px; }
  .inner-clip .top {
    height: 45%;
    width: 100%;
    background: black;
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 100% 100% 0 0;
    color: #d1d1d1;
    font-size: 2em;
    padding: 30px 0 0 0;
    border-bottom: 2px solid white;
    font-family: "Alfa Slab One"; }
  .inner-clip .bottom {
    height: 60%;
    background: linear-gradient(135deg, #e2e2e2 7%, #d1d1d1 25%, #dbdbdb 39%, #dbdbdb 53%, #d1d1d1 68%, #fefefe 95%);
    border-top: 2px solid black;
    border-radius: 0 0 100% 100%;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 10px 10px 0 10px; }

.pad {
  width: 211px;
  height: 211px;
  float: left;
  margin: 12px;
  box-shadow: -3px 3px 7px 0px #111;
  cursor: pointer; }

.pad-green {
  background-color: #44b07e;
  border-radius: 250px 0 0 0; }
  .pad-green.lit {
    background-color: #76caa3;
    cursor: pointer; }

.pad-red {
  background-color: #f63a2e;
  border-radius: 0 250px 0 0; }
  .pad-red.lit {
    background-color: #f97f77;
    cursor: pointer; }

.pad-blue {
  background-color: #3794a3;
  border-radius: 0 0 250px 0; }
  .pad-blue.lit {
    background-color: #5ebac9;
    cursor: pointer; }

.pad-yellow {
  background-color: #ecb537;
  border-radius: 0 0 0 250px; }
  .pad-yellow.lit {
    background-color: #f3cf7d;
    cursor: pointer; }

.third {
  width: 33%;
  float: left;
  display: block; }

.text {
  display: block;
  text-transform: uppercase;
  font-size: 0.7em; }

.button {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 6px; }

.led {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  margin: 0 auto;
  background: black;
  margin-bottom: 4px; }
  .led.lit {
    background: red;
    box-shadow: 0 0 3px 0 red; }

.button-red {
  background: radial-gradient(ellipse at center, #b50c0c 48%, #af3d3d 100%);
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff; }

.button-yellow {
  background: radial-gradient(ellipse at center, #e8ea62 0%, #e9ed10 52%);
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff; }

.count {
  padding-top: 5px; }
  .count .number {
    color: red;
    background: #222;
    padding: 8px 0;
    display: block;
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    font-family: 'Orbitron';
    border-radius: 4px; }
  .count .text {
    margin-top: 5px; }

.start {
  padding-top: 9px; }

.power {
  width: 65%;
  margin: 10px auto 0 auto;
  display: inline-block; }
  .power .text {
    width: 15%;
    display: inline-block;
    vertical-align: middle; }

.switch {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  margin: 0 5px; }
  .switch .switch-channel {
    display: block;
    height: 20px;
    width: 60px;
    background: #333;
    margin: 0 auto;
    border-radius: 3px; }
  .switch .switch-slider {
    width: 35px;
    height: 20px;
    left: 0;
    right: auto;
    display: block;
    position: relative;
    background: radial-gradient(ellipse at center, #b50c0c 48%, #af3d3d 100%);
    overflow: auto;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.2s ease; }
    .switch .switch-slider.on {
      left: 25px; }

/*# sourceMappingURL=simon.css.map */
